# For Loops

In [1]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [3]:
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
#Modulo
18%5

3

In [7]:
12%2

0

Example 2

In [8]:
for i in list1:
    if i%2==0:
        print(i)

2
4
6
8
10

In [10]:
for i in list1:
    if i %2 == 0:
        print (i)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [11]:
#Creating a For loop that sums up the list
list_sum = 0

for i in list1:
    list_sum=list_sum +i
print(list_sum)

55

In [14]:
#Using the operator
list_sum=0
for i in list1:
    list_sum+=i
print(list_sum)

55

Example 4

In [15]:
#Using for loops to iterate over strings
for letter in 'This string':
    print(letter)

T
h
i
s

s
t
r
i
n
g

In [17]:
#Using for loops in tuples
t=(12,4,55,7,True)
for i in t:
    print(i)

12
4
55
7
True

Example 6

In [28]:
list2=[(2,4),(6,8),(10,12)]
for i in list2:
    for x in i:
        print(x)

2
4
6
8
10
12

In [29]:
for (x,y) in list2:
    print(x)

2
6
10

In [38]:
#Exploring Iterations Through Dictionaries
d={'k1':1,'k2':2,'k3':3}

for key in d:
    print(key)

k1
k2
k3

In [39]:
#Getting the values
d.values()

dict_values([1, 2, 3])

In [40]:
#Getting the items
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [42]:
#Getting the keys 
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [43]:
for i,k in d.items():
    print(i)
    print(k)

k1
1
k2
2
k3
3

In [44]:
sorted(d.values())

[1, 2, 3]